{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
</head>
<body>
     <!-- footer  -->
 <div class="div" id="below">
    <div class="container" class="footer">
        <div class="row" class="down">
          <div class="col-6">
            <img src="{% static '/ELIMISHA KENYA-1.png' %}" alt="" class="welcome">
            
          </div>
          <div class="col" id="down">
            <h4><strong>About Us</strong></h4>
            <hr>
            <p>Sponsors</p>
            <p>Partnerships</p>
            <p>Collaborations</p>
            <p>Sponsorships</p>
          </div>
          <div class="col" id="down">
            <h4><strong>Find Us</strong></h4>
            <hr>
            <p>Email: charity.softwaredev@gmail.com</p>
            <p>TEL: 0702357269</p>
            <p>LinkedIn: charity.mutembei@me </p>
            <p>Twitter: charity.Mutembei</p>
          </div>
          <div class="col" id="down">
            <h4><strong>SUPPORT US</strong></h4>
            <hr>
            <p>Send an email <i class="fa fa-share" aria-hidden="true"></i></p>
          </div>
          <hr>
        </div>
      </div>
</div>

</body>